
:root{

  --MAIN-TEXT-color: #000000; /* Color of text by default */
  --MAIN-TITLES-TEXT-color: #000000; /* Color of titles h2-h3-h4-h5 */
  --MAIN-LINK-color: #599a3e; /* Color of links */
  --MAIN-LINK-HOVER-color: #3f6d2c; /* Color of hovered links */
  --MAIN-ANCHOR-color: #599a3e; /* color of anchors on titles */

  --MENU-HEADER-color: white; /* Background color of menu header */
  --MENU-HEADER-BG-color: rgb(64,128,64); /* Background color of menu header */
  --MENU-HEADER-BORDER-color: rgb(64,128,64); /*Color of menu header border */

  --MENU-SEARCH-BG-color: #ccc; /* Search field background color (by default borders + icons) */
  --MENU-SEARCH-BOX-color: rgb(64,128,64); /* Override search field border color */
  --MENU-SEARCH-BOX-ICONS-color: rgb(64,128,64); /* Override search field icons color */
  --MENU-SEARCH-BOX-PLACEHOLDER-color: rgb(32,64,32);

  --MENU-SECTIONS-ACTIVE-BG-color: #1b211c; /* Background color of the active section and its childs */
  --MENU-SECTIONS-BG-color: #222723; /* Background color of other sections */
  --MENU-SECTIONS-LINK-color: #ccc; /* Color of links in menu */
  --MENU-SECTIONS-LINK-HOVER-color: #e6e6e6;  /* Color of links in menu, when hovered */
  --MENU-SECTION-ACTIVE-CATEGORY-color: #777; /* Color of active category text */
  --MENU-SECTION-ACTIVE-CATEGORY-BG-color: #fff; /* Color of background for the active category (only) */

  --MENU-VISITED-color: #599a3e; /* Color of 'page visited' icons in menu */
  --MENU-SECTION-HR-color: #18211c; /* Color of <hr> separator in menu */

}

body {
  color: var(--MAIN-TEXT-color) !important;
}

.searchbox input::placeholder {
  color: var(--MENU-SEARCH-BOX-PLACEHOLDER-color);
}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
  border-color: none;
  box-shadow: none;
}

#sidebar #shortcuts h3 {
  color: white !important;
}

h1, h2, h3, h4, h5 {
  color: var(--MAIN-TITLES-TEXT-color) !important;
  text-align: left;
}

a {
  color: var(--MAIN-LINK-color);
}

.anchor {
  color: var(--MAIN-ANCHOR-color);
}

a:hover {
  color: var(--MAIN-LINK-HOVER-color);
}

#sidebar ul li.visited > a .read-icon {
  color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
  display: block;
  content: "";
  height: 1px;
  width: 0%;
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -ms-transition: width 0.5s ease;
  transition: width 0.5s ease;
  background-color: var(--MAIN-LINK-HOVER-color);
}
#sidebar {
  background-color: var(--MENU-SECTIONS-BG-color);
}
#sidebar #header-wrapper {
  background-color: var(--MENU-HEADER-BG-color);
  color: var(--MENU-HEADER-BOX-color);
  border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
  background-color: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
  background-color: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
  color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#header-wrapper #header p {
  color: white !important;
}

#sidebar a {
  color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
  color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
  background-color: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
  color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
  border-color: var(--MENU-SECTION-HR-color);
}

.withBorder img {
  border: 3px solid black;
}

#chapter p {
  text-align: left;
}

#chapter p.suits {
  font-size: 60px;
  text-align: center;
  background-color: var(--MENU-HEADER-BG-color);
}

#header p.suits {
  font-size: 30px;
  text-align: center;
  margin: 0;
  line-height: 1;
}

#header p.suits span {
  font-size: 40px;
  text-align: center;
  margin: 0;
  line-height: 1;
}

#header > p {
  margin: 0;
}

.searchbox {
  margin: 8px;
}

.mytable Table {
  width: auto;
}

code + span.copy-to-clipboard {
  display: none;
}

section#shortcuts > h3 {
  font-size: 1.25em;
}

#footer {
  padding: 10px 0px 50px 0px;
  font-size: 15px;
}
